h1 {
  font-size: 162%;
}

.center{
  text-align: center;
  float: left;
}

img {
  float: right;
}

#featured {
  float: left;
}

div#mw-panel {
  font-size: inherit;
    position: absolute;
    top: 160px;
    padding-top: 1em;
    width: 10em;
    left: 0;
    float: left;
}
